/* See https://getbootstrap.com/docs/5.2/customize/css-variables/#root-variables for variables to override. */
:root {
  //--tf-beige1: #080808;
  --tf-beige2: #F5F5DC;  /* Beige */
  --tf-beige3: #F5F5F0;  /* Light Cream Beige */
  --tf-beige4: #E5D8B7;  /* Warm Beige */
  --bs-font-sans-serif: "Open Sans", sans-serif;
  --bs-link-color: var(--bs-gray);
  --tf-pill-bg: var(--tf-beige4);
  --tf-icon-fill: var(--bs-gray);
  --tf-page-bg-color: var(--tf-beige2);
  --tf-footer-bg-color: var(--tf-beige3);
  --tf-projects-bg-color: var(--tf-beige3);
}

h1,h2,h3,h4 {
  color: var(--bs-gray);
  font-family: Rubik;
}

/* Format social media icons */

/* Format social media icons */
.tf-social {
  display: inline-block;
  fill: var(--tf-blue1);
  height: 1.5em;
  vertical-align: -.1em;
  width: 1.5em;
  transition: 0.2s;
}

.tf-social:hover {
  fill: var(--tf-icon-hover);
}

a {
  text-decoration: none;
}

@media (max-width: 500px) {
  .navbar-brand {
    display: none;
  }

  .navbar-brand-mobile {
    display: inline;
  }
}

.rounded-circle {
  border-color: var(--tf-blue1);
  border-style: solid;
  border-width: 1px;
}
